body {
    /* background-image: url("paper.gif"); */
    background-color:lightsteelblue;
  }

a.name {
    text-decoration: none;
}
  
.component-list {
    list-style-type: none;
}

.component-item {
    list-style-type: none;
}

.MuiButton-label {
    text-decoration: none;
}